<html>
 <head>
  <meta charset="UTF-8">
  <title>Purchase</title>
  <link rel="stylesheet" href="style.css" type="text/css">
 </head>
 <body>
 <hr>
 <ul class = "a" >
   <li class = "a"><a href="index.html">Homepage</a></li>
   <li class = "a"><a href='/book'>Manage Books</a></li>
   <li class = "a"><a href='/book_author'>Manage Authors</a></li>
   <li class = "a"><a href='/account'>Manage Accounts</a></li>
   <li class = "a"><a href='/orders_books'>Manage Orders</a></li>
   <li class = "a"><a href='/order'>Manage Balances</a></li>	
</ul>
 

<h3> Add Order </h3>
   
   <form id="addOrder" action="/orders_books" method="post">
    
    Book id: <input type="text" name="book_id"><br>
	
   
	Order Number (enter today's date plus 2 random number, (e.g, 61000)<input type="number" name="order_num"><br>
	
	Email: <input type="text" name="email"><br>
    
    <input type="submit" value="Submit">
 </form>
<br/>
   
   
   
   
</div>
<br/>
<h3>List of Books </h3>

<table>
        <caption><b>Current Book List:</b></caption>
        <thead>
		    <th>Book id </th>
            <th>Title</th>
			<th>Number of pages</th>
			<th>Genre</th>
            <th>Edition</th>
			<th>Price </th>
			<th>BuybackPrice </th>
        </thead>  
        <tbody>
            {{#each book}} 
            <tr>
			    <td>{{book_id}}</td> 
                <td>{{book_name}}</td> 
                <td>{{num_pages}}</td> 
				<td>{{genre}}</td> 
                <td>{{edition}}</td> 
                <td>{{price}}</td> 
				<td>{{buyback_price}}</td> 
            </tr> 
            {{/each}} 
        </tbody>  
    </table>



<h3> Order List with Book Title </h3>
<table>
    <thead> 
        <th>Order</th> 
        <th>Book title</th> 
		<th>Book edition</th> 
    </thead> 
    <tbody> 
        {{#each book_with_order }} 
        <tr> 
		    <td>{{order_num}}</td>
			<td>{{book_name}}</td>
			<td>{{edition}}</td>
            
			
        </tr>
        {{/each}} 

    </tbody>
</table> 

	







</body>

</html>
